/* ABOUT SECTION */

.align_text {
    padding: 10px;
}


/* ABOUT SECTION */
.about {
    text-align: center;
}

.about_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
}

.about_content {
    margin: auto;
    max-width: 1000px;
    padding: 20px 10px;
}

.about_content p {
    text-align: left;
    padding: 10px;
}

/* GET INVOLVED SECTION */
.get-involved {
    text-align: center;
}

.get-involved_image {
    max-height: 560px;
}

.get-involved_content {
    margin: auto;
    max-width: 900px;
    padding: 20px 10px;
}

.get-involved_content p {
    text-align: left;
    padding: 10px;
}