/* UPCOMING EVENTS */

.upcoming {
    text-align: center;
}

.upcoming_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
}

.upcoming_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcoming_content {
    text-align: left;
    margin: auto;
    max-width: 1000px;
    padding: 20px 10px;
}

.upcoming_content p {
    padding: 10px;
}

/* CURRENT EVENTS */

.current {
    text-align: center;
}

.align_text {
    padding: 10px;
}

.grid_image {
    max-height: 560px;
}

.current_content {
    text-align: left;
    margin: auto;
    max-width: 900px;
    padding: 20px 10px;
}

.current_content p{
    padding: 10px;
}


/* TIME TABLES */

.table_hours {
    padding-left: 10px;
}

.table_hours table {
    text-align: left;
    margin: 0;
}

.table_hours td {
    text-decoration: underline;
}


