.upcoming {
    text-align: center;
}

.upcoming_container {
    display: grid;
    grid-template-columns: 1fr;
}

.upcoming_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upcoming_text {
    background-color: var(--primary-color);
}

.upcoming_content {
    text-align: left;
    margin: auto;
    max-width: 700px;
    padding: 20px 10px;
}

.upcoming_hours table {
    text-align: left;
    margin: 0;
}

.upcoming_hours td {
    text-decoration: underline;
}

/* TEST */

.test {
    text-align: center;
}


.test_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    width: 90vw;
    margin: auto;
}

.test_container {
    display: grid;
    grid-template-columns: 1fr;
}

.test_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test_text {
    background-color: var(--primary-color);
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.text_align {
    padding: 20px;
}

.test_content {
    text-align: left;
    margin: auto;
    max-width: 700px;
}