.primary-colour {
    background-color: var(--primary-color);
}

.secondary-colour {
    background-color: var(--secondary-color);
}

.alternative-colour {
    background-color: var(--secondary-bg-color);
}

.exhibition {
    text-align: center;
}

.exhibition_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    text-align: center;
    justify-content: center;
}

.exhibition_grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.exhibition_text {
    max-height: 650px;
}

.exhibition_content {
    text-align: left;
    margin: auto;
    max-width: 700px;
    padding: 20px 10px;
}

.explore-main {
    text-align: center;
}

.explore-main_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    text-align: center;
    justify-content: center;
}

.explore-main_container {
    display: grid;
    grid-template-columns: 1fr;
}

.explore-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-main_text {
    color: var(--secondary-text-color);
}

.explore-main_content {
    text-align: left;
    margin: auto;
    max-width: 700px;
    padding: 20px 10px;
}

/* .exhibition_container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 20px auto;
}

.exhibition_image {
    height: ;
}

.exhibition_image img{
    width: 100vw;
    height: 100%;
}

.exhibition_text {
    width: 100%;
}

.exhibition_content {
    text-align: left;
    padding: 20px 10px;
} */

