/* EXHIBITIONS SECTION */

.exhibition {
    text-align: center;
}

.exhibition_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

.exhibition_image img {
    height: 300px;
}

.exhibition_text {
    max-height: 650px;
}

.grid_content {
    padding: 20px 10px;
}



/* EXPLORE SECTION */
.slide-content_section {
    text-align: center;
}

.explore-grid_items {
    display: grid;
    grid-template-columns: 1fr;
}

.grid_image {
    max-height: 500px;
}

.align_text {
    padding: 20px;
}

.explore_text {
    text-align: left;
}
