
/* HERO HEADER */
.hero-header {
    background-image: url(/images/exhibition.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    width: 100%;
    background-position-y: top;
    background-position-x: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-text {
    background-color: rgb(126, 198, 239, 0.8);
    min-width: 300px;
    max-width: 700px;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 5px;
    margin: auto;
    position: absolute;
    text-align: center;
    justify-content: center;
}


/* MAIN SECTION */

.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.alternate-bg {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}


section p {
    text-align: left;
    padding: 15px;
}

.container {
    text-align: center;
    margin: 50px auto;
}

.image_container {
    display: grid;
    align-items: end;
    max-height: 60vh;
}

.textbox {
    padding: 10px;
    padding-bottom: 25px;
    max-height: 60vh;
}

.textbox_content {
    max-width: 800px;
    margin: auto;
}

.textbox p {
    
}

/* EVENT SECTION */

.event_container {
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 0;
}

.event_image img{
    width: 100%;
}

.event_text {
    background-color: var(--primary-color);
}

/* EXPLORE SECTION */

.explore_grid {
    display: flex;
    flex-direction: column;
}

.explore_container {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 0;
}

.explore_image img{
    width: 100%;
}

/* INFO SECTION */

.newsletter,
.contact,
.support {
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 0;
}

.newsletter {
    display: grid;
    grid-template-rows: 1fr;
    margin: 20px 0;
}

.newsletter_image img {
    width: 100%;
}

.newsletter_image {
    display: none;
}

.contact_image img {
    width: 100%;
}

.contact_image {
    display: none;
}

.support_image img {
    width: 100%;
}

.support_image {
    display: none;
}




