/* MEDIA */
@media (min-width: 860px) {
}

@media (min-width: 1400px) {
    header {
        flex-direction: row;
        justify-content: center;
    }

    header label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        background-color: var(--secondary-bg-color);
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        color: var(--secondary-text-color);
    }

    .explore_grid {
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    .event_container {
        grid-template-columns: 1fr 1fr;
    }

    .event-1 :nth-child(1) {
        order: 2;
    }

    .newsletter,
    .contact,
    .support {
        grid-template-columns: 1fr 1fr;
    }

    .info-section_image {
        display: inline;
    }

    .footer_grid {
        flex-direction: row;
    }

}