/* MEDIA */
@media (min-width: 860px) {
    .explore_grid {
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    .support_image,
    .contact_image,
    .newsletter_image  {
        display: inline;
    }

    .newsletter,
    .contact,
    .support {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1400px) {
    .event_container {
        grid-template-columns: 1fr 1fr;
    }

    .event-1 :nth-child(1) {
        order: 2;
    }

    .event_image img{
        height: 60vh;
        /* max-width: 1000px; */
    }
}