:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #000000;
    --primary-color: #deb89b;
    --secondary-color: #7ec6ef;
    --alternate-color: #cccccc;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --button-frame-color: #4185cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Monsterrat', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-text-color);
    line-height: 1.5;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    font-family: 'Bebas Neue', Monsterat, Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

li {
    list-style: none;
}

i {
    color: #ffffff;
    font-size: 2rem;
}

header {
    background-color: var(--secondary-bg-color);
    padding: 40px 50px;
    width: 100%;
    /* align-items: center;
    text-align: center; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
}

.logo_container {
    width: 10rem;
}

.logo {
    width: 100%;
}

.menu {
    
}

/* nav {
    position: absolute;
    right: 0px;
    margin-right: 100px;
    background-color: var(--secondary-color);
} */


/* MAIN SECTION */

.hero-header {
    background-image: url(/images/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    background-position-y: top;
    background-position-x: 20%;

    
}