:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #000000;
    --primary-color: #deb89b;
    --secondary-color: #7ec6ef;
    --alternate-color: #cccccc;
    --primary-text-color: #000000;
    --secondary-text-color: #ffffff;
    --button-frame-color: #4185cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-text-color);
    line-height: 1.5;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    font-family: 'Bebas Neue', Monsterat, Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.25rem;
}

li {
    list-style: none;
}

i {
    color: #ffffff;
    font-size: 2rem;
}

label {
    font-size: 1.25rem;
    font-weight: 300;
    display: block;
}

input {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 10px;
    margin: 10px 0;
}

.text {
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

::placeholder {
    color: var(--primary-text-color);
    opacity: 20%;
}


/* BUTTONS */
.btn {
    color: var(--secondary-text-color);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 2rem;
    font-weight: 600;
    background-color: #000000;
    border: 10px solid var(--button-frame-color);
    border-radius: 50px;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
}



/* HEADER & NAVBAR */
header {
    background-color: var(--secondary-bg-color);
    padding: 40px 50px;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    width: 20rem;
}

.logo {
    width: 100%;
}


nav {
    background-color: var(--primary-bg-color);
    position: absolute;
    display: none;
    /* width: 275px; */
    right: 50px;
    padding: 20px;
    z-index: 100;
    text-align: left;
    top: 120px;
}

nav ul {
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: block;
    padding: 10px 20px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

nav ul a:hover {
    background-color: var(--primary-color);
}

.active {
    text-decoration: 3px underline;
}


/* FOOTER */

footer {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

/* FOOTER */
.footer_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.footer_grid a:hover {
    text-decoration: 2px underline;
}

.footer_grid td {
    text-decoration: 2px underline;
}


footer i {
    margin-top: 25px;
    margin-bottom: 10px;
}

table {
    margin: 10px auto;
    text-align: center;
}

th {
    padding-right: 5px;
}

.footer_nav {
    margin: 20px 0;
}

.footer_nav a{
    color: var(--secondary-text-color);
}

.logo_footer {
    width: 20rem;
    margin: 20px auto;
}

.social-media {
    margin-bottom: 20px;
}

.social-media i {
    margin: 5px;
}

.copyright {
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.copyright p {
    font-size: 0.75rem;
}
